<h1><%= @contact.full_name %></h1>
<h5>Last Updated: <%= @contact.friendly_updated_at %></h5>
<br>
<h2>First Name: <%= @contact.first_name %></h2>
<h2>Last Name: <%= @contact.last_name %></h2>
<h2>Email: <%= @contact.email %></h2>
<h2>Phone Number: <%= @contact.phone_number %></h2>

<%= link_to "Edit Contact", "/contacts/#{ @contact.id }/edit" %>